.navbar_link:hover {
  color: var(--light-blue);
}

.navbar_modal_button:hover {
  background-color: var(--dark-blue);
  color: white;
}

.center_text {
  text-align: center;
}

.see_more {
  color: var(--med-blue);
  transition: 0.5s;
}

.see_more:hover {
  color: black;
}

.footer_link {
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 5px;
  transition: 0.5s;
}

.footer_link:hover {
  color: var(--light-blue);
}

@media (max-width: 767px) {
  .footer_link {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer_icon {
  margin: 10px;
  transition: 0.5s;
}

.footer_icon:hover {
  cursor: pointer;
  fill: var(--light-blue);
}

/* highlights */
